/* muito organizada, parabéns :) */
/* GERAL */

* {
    font-family: 'roboto', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

h2 {
    color: #63458a;
    text-align: center;
    margin: 0;
    padding-bottom: 3%;
}

/* BOTÕES */

button {
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 120%;
    text-decoration: none;
    background-color: #b288c0;
    min-width: 250px;
    min-height: 40px;
    border: none;
    border-radius: 5%;    
}

/* NAVEGAÇÃO PARA CELULAR */

nav {
    background-color: #63458a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    box-shadow: 5px -9px 3px #000
}

nav > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.topbar img {
    width: 35%;
    padding: 1% 5%;
    max-width: 200px;
}

nav div ul {
    display: none;
}

.app {
    display: inline;
    text-align: right;
}

/* NAVEGAÇÃO PARA DESKTOP */

@media (min-width: 769px) {
     nav {
        width: 100%;    
        padding: 5px;
    }

    nav > div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
    }
    
    nav div ul {
        display: flex;
        justify-content: flex-end;
        width: 50%;
    }
    
    nav div ul li {
        text-decoration: none;
        display: inline-block;
        width: 25%;
    }
    
    nav div ul li a {
        text-decoration: none;
        color: white;
    }

    .app {
        display: none;
    }
} 

/* HEADER PARA APP */

header {
    background: url(../img/bg-banner-claro.png);
    background-size: cover;
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: 46%;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:  white;
    text-align: center;
}

header div > div {
    padding: 5%;
}

header h1 {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: rgba(0, 0, 0, 0.5) 0.1em 0.1em 0.2em;
    margin-bottom: 0;
    padding-top: 3%;
    font-size: 160%;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 110%;
    padding: 4%;
}


/* HEADER DESKTOP */

 @media (min-width: 769px) {
    header {
        min-height: 70vh;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        padding-top: 1%;
        padding-left: 8%;
    }

    header div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        text-align: left;
        width: 70%;
        min-height: inherit;
    }

    header div > button {
        margin: 0;
    }

    header h1 {
        font-size: 230%;
    }

    header p {
        font-size: 120%;
    }
} 

/* PRIMEIRA SESSÃO / SOBRE APP */

.sobre {
    background: linear-gradient(to right, #7e5a9b, #b288c0);
    color: white;
    text-align: center;
    line-height: 140%;
    padding: 3%;
}

.sobre p {
    padding: 0 5%;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.sobre img {
    width: 40%;
    max-width: 300px;
}

/* SOBRE DESKTOP */
 @media (min-width: 769px) {
    .sobre {
        font-size: 150%;
    }

    .sobre p {
        padding: 0 13%;
    }
} 

/* SEGUNDA SESSÃO / PERFIS DESKTOP */

.perfis {
    background-color: #EFF4F0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perfis div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #63458a;
    min-width: 155px;
    max-width: 28%;
    margin: 8px;
}

.perfis > div {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
}

/* DESKTOP PERFIS */

 @media (min-width: 769px) {
    .perfis > div {
        width: 70%;
    }
 }

/* TERCEIRA SESSÃO / CRIADORAS APP */
.criadoras {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 4%;
    background-color: #63458a;
}

.criadoras h2 {
    color: white;
}

.criadoras div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    margin-bottom: 3%;
}

.criadoras img {
    max-width: 110px;
    min-width: 25%;
}

.projeto img > a {
    width: 100%;
} 

/* CRIADORAS DESKTOP */
 @media (min-width: 769px) {
    .criadoras div {
        width: 50%;
        align-content: space-around;
        height: 100vh;
    } 
    img {
    width: 80%;
    }
}

/* FINAL FOOTER APP */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    color: white;
    font-size: 70%;
}

/* .logo {
    width: 40%;
} */

footer div:nth-child(4) {
    background-color: rgb(34, 34, 34);
    display: block;
    width: 100%;
}

footer ul {
    padding: 0;
}

footer ul li {
    list-style: none;
    line-height: 24px;
}

footer p {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 18px;
}

footer a {
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #b288c0;
}

footer div:nth-child(2) {
    padding: 0 8%;
    font-style: italic;
    text-align: center;
    font-size: 70%;
}

footer div:nth-child(2) > img {
    width: 70%;
}

footer div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div:nth-child(3) > img {
    width: 14%;
    padding: 10px;
}

/* FOOTER DESKTOP */

 @media (min-width: 769px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    footer div:nth-child(4) {
        display: block;
        width: 100%;
    }

    footer div:nth-child(2) {
        width: 27%;
        padding: 0%;
    }
    

    footer div:nth-child(1) {
        padding-right: 10%;
    }
} 